@{
    ViewBag.Title = "Services";
}

<header class="intro-header" style="background-image: url(@Url.Content("~/Content/img/services.jpg"))">
    <div class="container">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-heading">
                    <h1>Want to have DopeZoo in </h1>
                    <h2 class="subheading">your home.</h2>
                </div>
            </div>
        </div>
    </div>
</header>

<article>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <p>
                    <h1>Videos and photos</h1></br>You need someone to capture your weeding, birthday party or one of your priceless moments? Contact us and we will make you, the most awesome video, full with unique music, glitches, animals and many more.</br>For example, this is the promo video
                    made for Metropolis - Sonic Voyager pres. Rodhad and Milton Bradley. We capture the moment, we edit the moments, you enjoy them!
                </p>
                <video width="760" height="400" controls>
                    <source src="@Url.Content("~/Content/img/metropolis.mp4")" type="video/mp4">
                </video>

                <p><h1>Cars and Motorcycles Painting</h1></br>You want to have a really nasty car or motorcycle. Contact with us and we will make it unique. Everyone will watch it and says "daaaaaaaaamn".</p>
                <img src="@Url.Content("~/Content/img/opela.jpg")" style="width: 720px;height: 470px;">

                <p><h1>Peintures</h1></br>What about a fancy and unique picture in your room. Every picture is limited and only one people in the world can have it. If you enjoy them, call us and we will send you, the one that you like the most.</p>
                <img src="@Url.Content("~/Content/img/kartina.jpg")" style="width: 720px;">

                <p>
                    <h1>Graffiti Designing</h1></br>Do you like art? Art is the way that everyone portrays the world they see through their point of view. You want different garage, room, bar, disco club or wall in your house. Contact us
                    and we can make your dreams came true inside your bedroom.</br>For example, this is Oxygen disco club in Bansko, Bulgaria. We customized it, the way they want.
                </p>
                <img src="@Url.Content("~/Content/img/oxygen1.jpg")" style="width: 720px;height: 470px;">
                <br /> <br />
                <img src="@Url.Content("~/Content/img/oxygen2.jpg")" style="width: 720px;height: 470px;">

                <p><h1>Architecture</h1></br>In case you are so inspired by DopeZoo, we can make your dream house. At first look, you think this is impossible for us, but there isn't anything that we can't do. Take a look at our sea house in Varna, Bulgaria.</p>
                <img src="@Url.Content("~/Content/img/kushta.jpg")" style="width: 720px;height: 470px;">
            </div>
        </div>
    </div>
</article>